main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
.home-screen {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden; /* Prevents accidental horizontal scrolling */
}

/* Ensure the body doesn't have default browser padding */
body {
    margin: 0;
    padding: 0;
}